[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
pip = "==9.0.2"
mysqlclient = "*"
django-jet = "*"
feedparser = "*"
djangorestframework = "*"
django-model-utils = "*"
djangorestframework-jwt = "*"

[dev-packages]
django-extensions = "*"

[requires]
python_version = "3.7"
